/* --- Contact Locations Section --- */
.contact-page-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-locations-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: space-between;
}

.location-card {
    flex: 1;
    min-width: 300px;
    background: #e9e9e9;
    padding: 20px;
    border-radius: 8px;
    margin-left: 40px;
}

.location-card h3 {
    color: #d40000;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.location-card .address {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 1rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 15px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.detail-item i {
    color: #d40000;
    font-size: 1.2rem;
    width: 20px;
    /* Fixed width for alignment */
    text-align: center;
}

.detail-item span {
    color: #000;
    font-weight: 500;
    font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-locations-section {
        flex-direction: column;
        gap: 30px;
    }

    .location-card {
        padding: 0;
        margin: 0px
    }

    .location-card h3{
        padding-top: 20px;
    }

    .contact-details{
        padding-bottom: 20px;
    }
}